<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="font-family: 'Courier New', Courier, monospace;">
  <h1 style="text-align: center;">Interprete OCL1</h1>
  <div class="code-editor" #codeEditor></div>
  <div style="display: flex; width: 100%; justify-content: center; padding-top: 15px;">
    <button
      style="padding: 5px; background-color: black;color: white; border-radius: 3px; border: 0px; cursor: pointer;"
      (click)="ejecutar()">Ejecutar</button>
  </div>
</body>

</html>